#section_solution{
    width: 100vw;
    min-height: 100vh;
    padding: 1%;
    background-color: #e7e7e7;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-blend-mode: multiply;
}

.demo_image{
    max-width: 100%;
    height: auto;
}