#section_solution{
    width: 100vw;
    min-height: 100vh;
    padding: 1%;
    background-color: #e7e7e7;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Asset/C_Solution_section/background.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    background-blend-mode: multiply;
}
