#section_problem{
    min-height: 100vh;
    width: 100vw;
    height: auto;
}

.top_trasition_bar{
    width:100vw;
    height: 12vh;
    position: relative;
    background-color: rgb(109, 109, 109);
}



  .problem_content{
    position: relative;
    display: flex;
    justify-content: center;
 
  }

  .problem_element{
    max-width: 325px;
    height: auto;

  }
.problem_element{
    margin: 3%;
}