

.how_it_works_img{

    width:200px;
    height: 200px;
    max-width: 500px;
    position: relative;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    filter: brightness(0.5) saturate(0%);
}

.how_it_works_content{
    min-width: 60vw;
    width: 80vw;
    padding: 10%;
    margin: 0 auto; /* center the div horizontally */
}

.how_it_works_text_content{
    margin: auto auto;
    padding: 20px;
    width: 100%;

}
.how_it_works_text_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}

.how_it_works_image_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.how_it_works_container{
    width: auto;
    height: auto;
margin: 20px;
margin-top: 2rem;
}