html,
body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  font-family: serif,sans-serif,helvetica,arial;
  background-color: 	white ;
}
h1,h2 {
  font-family: serif,sans-serif,helvetica,arial !important;
}

h3,h4,h5,h6,h7,h8{
  font-family: Arial, Helvetica, sans-serif !important;
}


.logo_sm{
  max-width: 500px;
  height: 40px;
}
.welcome_text h1 {
  color: rgb(45, 45, 47);
  line-height: 80px;
  font-size: 80px;
}
.welcome_text h4 {
    color: rgb(45, 45, 47);
    margin-top: 60px;
}
#section_welcome{
    height: 100vh;
    width: 100vw;
    background-image: url("/Asset/A_welcome_section/ntgrf_bg_white.png");
    margin: 0%;
    padding: 0%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  
    
    display: flex;           /* make the outer div a flex container */
  justify-content: center; /* center the inner div horizontally */
  align-items: center;     /* center the inner div vertically */
    
}

.welcome_content{
    margin: 1 auto;
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
}

.welcome_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100vh;
    color: aliceblue;
    height: auto;
  }

  .welcome_image{
position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: auto;
    
  
  }

  @media screen  and (max-width: 1324px){
    .welcome_image_container{
display: none;
          }
  }




  .title_text {
    height: auto;
    max-width: 600px; /* adjust this value as needed */
    margin: 0 auto;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center

  }

  .add_margin{
    margin: 5%;
  }